.container {
    max-width: 1920px;
}

h1, h4 {
    text-align: left;
}

.navbar-brand {
    text-align: right;
}

h4 {
    color: grey;
    padding-left: 20px;
}

img {
    margin-top: 16px;
}

.ship {
    max-width: 512px;
    margin: auto;
}

.tran {
    text-align: center;
}

.info_list {
    padding-left: 40px;
}