{% extends "base.html" %}

{% block navbar_cont %}
    <h1>Миссия Колонизация Марса</h1>
{% endblock %}

{% block content %}
    <h4>И на Марсе будут яблони цвести!</h4>

<div class="form-group add-photo">

  <form action="" method="post" enctype="multipart/form-data" class="add-photo-form">
       <label for="photo">Приложите фотографию</label>
  <input type="file" class="form-control-file" id="photo" name="file">
      <br>
      {% if active_filename != '' %}
      <img class="member-photo" src="{{photo}}" alt="Картинка">
      {% endif %}
      <br>
    <button type="submit" class="btn btn-primary add-photo-but">Отправить</button>
   </form>
</div>
{% endblock %}